@model Actor
@{
    ViewData["Title"] = "Add a new Actor";
}
<form asp-action="AddActor" method="post" role="form">
    <h3 class="my-5">
        Add a new actor to the database
    </h3>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="BirthYear" class="form-label"></label>
                <input asp-for="BirthYear" class="form-control" />
                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="PictureUrl" class="form-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-2">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-success" value="Create Actor" />
                <input type="reset" class="btn btn-danger" value="RESET" />
            </div>
        </div>
    </div>
</form>