@model IEnumerable<Actor>
@{
    ViewData["Title"] = "All Actors";
}

<a class="btn btn-primary" asp-controller="Actor" asp-action="AddActor">
    ADD A NEW ACTOR TO THE DB
</a>

<div class="row">


@foreach (Actor actor in Model)
{
    <div class="col-3">
        <partial name="_ActorCard" model="actor" />
            <a class="btn btn-danger" asp-controller="Actor" asp-action="DeleteActor" asp-route-id="@actor.Id" asp->
            Delete
        </a>
    </div>
}

</div>
